body {
  margin: 0;
  font-family: 'Poppins';

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
